@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: "Poppins", sans-serif, Arial, sans-serif;
  background: #000 url(../media/background.jpg) top / cover no-repeat;
}

.hidden {
  display: none;
}

main {
  position: relative;
}

/*
  Content
*/

/* header */

header {
  height: 100px;
}

.header {
  width: 33%;
  overflow: hidden;
}

.date {
  line-height: 100px;
  font-size: 20px
}

h1 {
  font-size: 30px;
  line-height: 100px;
}

.score-button {
  width: 160px;
}

/* body */

/* game */

.game {
  height: calc(100vh - 100px);
}

form {
  padding: 30px;
  background-color: rgba(40 4 70 / 0.3);
  border: 1px solid #9afffd;
  border-radius: 20px;
  position: relative;
  backdrop-filter: blur(4px);
}

h1, h2, p, input, i {
  color: #9afffd;
  text-align: center;
}

form > p {
  margin-top: 20px;
}

input {
  background-color: rgba(40 4 70 / 0.3);
  border-radius: 50px;
  padding: 8px;
  border: 1px solid #9afffd;
}

.start-box {
  position: absolute;
  top: 30px;
  right: 30px;
}

input[type=button] {
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

input[type=button]:hover, .user-input:hover {
  background-color: rgba(40 4 70 / 0.8);
}

.start-button {
  width: 100px;
  border-color: #6bf06b;
  color: #6bf06b;
}

.reset-button {
  width: 100px;
  border-color: #ff0000;
  color: #ff0000;
}

.timer-div {
  margin-top: 50px;
  font-size: 40px;
}

.timer-div i {
  margin: 0 10px;
}

.word {
  background-color: rgba(154 255 253 / 0.15);
  border-radius: 10px;
  font-size: 48px;
  font-weight: 600;
  width: 70svw;
  max-width: 400px;
  height: 80px;
  user-select: none;
}

.score-box {
  font-size: 20px;
}

.user-input {
  cursor: pointer;
  font-size: 30px;
  margin-top: 20px;
  width: 70svw;
  max-width: 300px;
  height: 60px;
  transition: all 0.25s ease-in-out;
  
}

/* scores */

.high-score-box {
  z-index: 9;
  position: absolute;
  right: 0;
  padding: 20px;
  width: 320px;
  height: 100%;
  border-top-left-radius: 20px;
  border-top: 1px solid #9afffd;
  border-left: 1px solid #9afffd;
  background-color: rgba(40 4 70 / 0.3);
  backdrop-filter: blur(4px);
  transition: all 0.25s ease-in-out;
  animation: openAnimation 0.25s ease-in-out forwards;
}

@keyframes openAnimation {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.high-score-box i {
  cursor: pointer;
  font-size: 28px;
}

.high-score {
  margin-top: 5px;
}

.high-score p {
  text-align: left;
}

.place {
  width: 13%;
}

.number {
  width: 30%;
}

.percent {
  width: 15%;
}

.when {
  width: 35%;
}